.file_info {
float:right;
}
.not_video {
color:gray;
font-style:italic;
}
.video {
}
.player {
text-align:center;
width: 600px;
height: 100px;
}
.folders {
margin-left:25px;
background-size: 2px;
background-repeat: repeat-y;
padding-left: 10;
}
.path {
font-weight:bold;
height:25px;
overflow:visible;
}
.name {
font-weight:bold;
height:25px;
overflow:visible;
}
.display {
  height: 75px;
}
.time {
  font-weight:bold;
  height:25px;
}
.controls {
  height:50px;
}

.button {
  background-image: url('/img/player-icons.jpg');
  float:left;
  height: 50px;
  width: 50px;
}
.quit {
  background-position: -322px -90px;
}
.back {
  background-position: -192px -90px;
}
.back2 {
  background-position: 2px -90px;
}
.pause {
  background-position: -192px -23px;
}
.ahead {
  background-position: -258px -90px;
}
.ahead2 {
  background-position: -62px -90px;
}
.vol_up {
  background-position: -440px -22px;
}
.vol_down {
  background-position: -440px -85px;
}
.toggle_subs {
  background-position: -382px -80px;
}

.folder:hover {
cursor:pointer;
}
.folder .folder_name {
padding-left:30px;
}
.file:hover {
cursor:pointer;
}
.expanded {
/*background-image:url('/img/collapse.png');*/
background-repeat: no-repeat;
background-size: 20px;
}
.collapsed {
/*background-image:url('/img/expand.png');*/
background-image:url('/img/dot.png');
background-repeat: no-repeat;
background-size: 20px;
}
.error {
color:red;
font-weight:bold;
}
.footer {
text-align:right;
}
